@import url("./__avatar/message__avatar.css");
@import url("./__content/message__content.css");
@import url("./__sender/message__sender.css");
@import url("./__text/message__text.css");
@import url("./__time/message__time.css");

.message {
  display: flex;
  padding: 16px;
  font-family: "Balsamiq Sans", Arial, Helvetica, sans-serif;
}

.message_reverse {
  flex-direction: row-reverse;
}

.message_reverse .message__content {
  align-items: flex-end;
  margin-right: 16px;
  margin-left: 0;
}

.message_reverse .message__text {
  align-self: flex-end;
}
