@import url("./__button/auth__button.css");
@import url("./__error/auth__error.css");
@import url("./__form/auth__form.css");
@import url("./__input/auth__input.css");
@import url("./__link/auth__link.css");
@import url("./__title/auth__title.css");
@import url("./__input-wrapper/form__input-wrapper.css");
@import url("./__error/_active/auth__error_active.css");

.auth {
  font-family: "Balsamiq Sans", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.auth_user-settings {
  flex-direction: row;
  justify-content: space-between;
}

.auth_right-margin {
  margin-right: 36px;
}
