@import url("./__button/auth__button.css");
@import url("./__error/auth__error.css");
@import url("./__error/_server/auth__error_server.css");
@import url("./__form/auth__form.css");
@import url("./__input/auth__input.css");
@import url("./__link/auth__link.css");
@import url("./__title/auth__title.css");
@import url("./__input-wrapper/form__input-wrapper.css");
@import url("./__error/_active/auth__error_active.css");

.auth {
  font-family: "Balsamiq Sans", Arial, Helvetica, sans-serif;
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
}
