.auth-user-settings__title {
  font-family: "Balsamiq Sans", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: bold;
  font-weight: normal;
  color: #fff;
  margin: 0 0 30px 0;
  text-align: center;
}
