@import url("./__hamburger/header__hamburger.css");
@import url("./__logo-img/header__logo-img.css");
@import url("./__logo-link/header__logo-link.css");
@import url("./__title/header__title.css");
@import url("./__button/header__button.css");

.header {
  display: flex;
  background-color: #1c1d21;
  font-family: "Balsamiq Sans", Arial, Helvetica, sans-serif;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
}
