.control-panel__send-button {
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 50 50'%3E%3Cdefs/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23fff' d='M48.9648 23.377L2.5373 1.949c-.7392-.3357-1.6214-.1358-2.1356.5-.5179.6357-.5357 1.5392-.0429 2.1928l15.2675 20.3566L.3588 45.355c-.4928.6536-.475 1.5607.0393 2.1928.3464.4322.8643.6643 1.3893.6643.2535 0 .507-.0535.7464-.1643l46.4274-21.428a1.7832 1.7832 0 001.0393-1.6214 1.786 1.786 0 00-1.0357-1.6214z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h50v50H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.control-panel__send-button_active {
  display: block;
}
