.control-panel__input {
  flex-grow: 1;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  background-color: #1c1d21;
  color: #fff;
  border: none;
  margin-right: 16px;
  padding-right: 8px;
  padding-left: 8px;
}
